#box1 {
    display: flex;
    background-color: goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    
   
    
}
#box1 :hover {
    background-color: beige;
}



body{
    background-color: darkgrey;
    border-style: double;
    border-width: 15px;
}

ul {
    margin-left: auto;
    justify-content: space-between    ;
    background-color: darkmagenta;
    
}


/* SECTIONS CONTAINER  */
#sections-container {
    display: flex;
    

    
    
    
}

#sections-container > section:first-child {
    background-color: darkgreen;
    flex:2
    
    

    
    
    
}

#sections-container > section:last-child {
    background-color: rgb(170, 15, 28);
    flex: 1;
    
    
}






